tracks/*

node_modules/

keys/*
logs/
*.log
npm-debug.log*

pids/
*.pid
*.seed
*.pid.lock

.env
.env.local
.env.*.local

.cache/
dist/
build/
*.tsbuildinfo
tmp/
temp/

.vscode/
.idea/
.DS_Store

Thumbs.db
*.swp

coverage/

jspm_packages/

config/*.local.js
/uploads/images/*
